@media(max-width: 1199px){
.learning {
    padding: 38px 15px 38px;
}
.opinion p {
    margin-left: 40px;
}
.course-link ul {
    margin-top: 21px;
    line-height: 26px !important;
}
}
@media(max-width: 991px){
header >.container {
    padding-top: 25px;
}
.banner-content {
    line-height: 25px;
}
p{
	font-weight: 500;
    line-height: 21px;
}
h1{
	font-size: 33px;
}
.navbar-brand img {
    width: 180px;
}
h3 {
    font-size: 16px;
  margin-top: 16px;
 }
.learning span {
    font-size: 12px;
    color: #585859;
}
.learning{
	padding: 25px 7px 19px;
}
.button{
	padding: 8px 18px !important;
}
h2 {
    font-size: 30px;
    font-weight: 600;
}
.heading {
    margin-top: 45px;
    margin-bottom: 45px;
    }
    .course{
    	    margin-left: 5px;
    margin-right: 5px;
    }
 .course h3 {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 0;
}
.course button{
	    margin: 5px 0;
	        font-size: 12px;
}
.nav-item {
    font-size: 12px;
}
.nav span {
    font-size: 10px;
    margin-left: 5px;
}
.opinion p {
    margin-left: 20px;
}
.opinion img {
    margin-right: 20px !important;
    width: 140px;
}
.course-link {
    margin-left: -5px;
}
.course-link a{
	font-size: 12px;
}
.course-link strong {
    font-size: 14px;
}
.footer-part p{
	font-size: 12px !important;
}
.course-link ul {
    margin-top: 17px;
}
.right-caption {
    font-size: 12px;
    margin-top: 40px;
    margin-right: 20px;
}
}
@media(max-width: 767px){
.navbar-brand img {
    width: 156px;
}
.banner-content span {
    font-size: 13px;
}
h1 {
    font-size: 28px;
    line-height: 32px;
}
.banner-content {
    line-height: 30px;
    margin-right: 6px;
}
p {
    font-weight: 500;
    line-height: 18px !important;
    font-size: 13px !important;
    margin-top: 5px;
    margin-bottom: 13px;
}
.button {
    font-size: 12px;
}
header >.container {
    padding-top: 10px !important;
    padding-bottom: 32px;
}
.learning {
    margin-top: 44px;
    padding: 25px 32px 18px !important;
}
.learning img {
    width: 50px;
}
h2 {
    font-size: 26px !important;
}
.heading {
    margin-top: 40px;
    margin-bottom: 10px;
}
.course {
    margin-top:30px;
}
.course span {
    font-size: 13px;
}
.opinion p {
    text-align: center;
    margin: auto;
}
.opinion img {
    margin-right: 0px !important;
    width: 95px;
        margin-bottom: 12px;
    margin-top: 28px;
}
.col-sm-2 {
    margin: auto;
}
footer {
    margin-top: 32px;
    background: #282531;
    padding: 20px 0;
}
.footer-part p {
    font-size: 12px !important;
    text-align: center;
    margin-bottom: 0;
}
.course-link { 
    text-align: center;
}
.course-link strong {
    font-size: 13px;
}
.right-caption {
    font-size: 12px;
    margin-top: 18px;
    margin-right: 20px;
}
}

@media(max-width: 575px){
.banner-content {
    text-align: center;
    margin-bottom: 24px;
}
.learning {
    margin-right: 120px;
    margin-left: 120px;
  
}
h3 {
    font-size: 16px;
    margin-top: 11px;
    margin-bottom: 0;
}
.learning {
    margin-top: 30px;
   
}
.course img {
    width: 240px;
    border-radius: 15px;
}
.course {
    margin-left: 100px;
    margin-right: 112px;
}
.opinion img {
    margin-left: 180px;
}
.course-link {
    margin-left: -31px;
    margin-bottom: -6px;
}
.course-link ul {
    line-height: 20px !important;
}
footer {
    padding: 26px 0;
}
}
